<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiphiparray.quizify">
    
    <permission android:name="ACCESS_COARSE_LOCATION"></permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.hiphiparray.quizify.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MyTeams"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".MyQuizzes"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".TeamMembers"
            android:screenOrientation="portrait">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ccd38310c9f071809468af8c432fca85578386ef" />
    </application>

</manifest>